<% layout('../layout') -%>
<div class="post">
  <h3><%- post.title %></h3>
  <div class="post-body">
    <%- post.body %>
  </div>
  <div class="post-actions">
    <button data-post-id="<%= post.id %>" class="btn delete-button">Delete</button>
  </div>
</div>